{% extends 'base.html'%}

{%block content%}

<div class="text-white">
    <div class="title_hotel text-3xl font-bold mt-10 text-center">Hotels List of {{slug}} :</div>
    {%if hotels|length != 0%}
        <div class="flex flex-col mx-[10%] mt-10">
            <div class=" overflow-x-auto sm:-mx-6 lg:-mx-8">
              <div class="py-2 inline-block min-w-full sm:px-6 lg:px-8">
                <div class="overflow-x-auto">
                  <table class="min-w-full">
                    <thead class="bg-gray-800 border-b">
                      <tr class="text-[15px]">
                        <th scope="col" class="  px-6 py-4 text-left">
                          Hotel Name
                        </th>
                        <th scope="col" class="  px-6 py-4 text-left">
                            Hotel City
                        </th>
                        <th scope="col" class="  px-6 py-4 text-left">
                          Phone number
                        </th>
                        <th scope="col" class="  px-6 py-4 text-left">
                          Total Room
                        </th>
                        <th scope="col" class="  px-6 py-4 text-left">
                          Total Single Room
                        </th>
                        <th scope="col" class="  px-6 py-4 text-left">
                          Total Double Room
                        </th>
                        <th scope="col" class="  px-6 py-4 text-left">
                          Total Family Room
                        </th>
                        <th scope="col" class="  px-6 py-4 text-left">
                          Total Luxary Room
                        </th>
                        <th scope="col" class="  px-6 py-4 text-left">
                          Manager name
                        </th>
                        <th scope="col" class="  px-6 py-4 text-left">
                          Edit
                        </th>
                        <th scope="col" class="  px-6 py-4 text-left">
                          Delete
                        </th>
                      </tr>
                    </thead>
                    <tbody>
                        
                        {%for hotel in hotels%}
                      <tr class="bg-gray-800 border-b transition duration-300 ease-in-out hover:bg-gray-900">
                        <td class="  font-light px-6 py-4 whitespace-nowrap">
                          {{hotel.hotel_name}}
                        </td>
                        <td class="  font-light px-6 py-4 whitespace-nowrap">
                          {{hotel.hotel_city}}
                        </td>
                        <td class="  font-light px-6 py-4 whitespace-nowrap">
                          {{hotel.phone_number}}
                        </td>
                        <td class="  font-light px-6 py-4 whitespace-nowrap">
                          {{hotel.total_rooms}}
                        </td>
                        <td class="  font-light px-6 py-4 whitespace-nowrap">
                          {{hotel.total_single_room}}
                        </td>
                        <td class="  font-light px-6 py-4 whitespace-nowrap">
                          {{hotel.total_double_room}}
                        </td>
                        <td class="  font-light px-6 py-4 whitespace-nowrap">
                          {{hotel.total_family_room}}
                        </td>
                        <td class="  font-light px-6 py-4 whitespace-nowrap">
                          {{hotel.total_luxary_room}}
                        </td>
                        <td class="  font-light px-6 py-4 whitespace-nowrap">
                          {{hotel.managers_name}}
                        </td>
                        <td class="  font-light px-6 py-4 whitespace-nowrap">
                            <a href="edit/{{hotel.slug}}">
                                <button class="bg-green-700 p-2 rounded-[5px] cursor-pointer hover:bg-green-900 hover:scale-110  duration-300 ease-in-out">Edit</button>
                            </a>
                        </td>
                        <td class="  font-light px-6 py-4 whitespace-nowrap">
                            <button class="bg-red-700 p-2 rounded-[5px] cursor-pointer hover:bg-red-900 hover:scale-110  duration-300 ease-in-out ml-4">Delete</button>
                        </a>
                        </td>
                      </tr>
                      {%endfor%}
                      {%else%}
                        <div class="sm:text-4xl text-xl text-center font-bold mt-20 text-gray-300 ">No hotels have been added in this city !</div>
                      {%endif%}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>   
</div>

{%endblock%}